.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
  background-color: white;
}

section.split.left {
    background-image: url(images/DSC_6594.jpg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}


section.split.right h3, h1, h4 {
	text-align: left;
	font-family: 'Palanquin', sans-serif;
	margin: 0 40px;
}

section.split.right h1 {
    font-size: 100px;
    position: absolute;
    top: 150px;
    left: 60px;
    font-weight: 100;
}

section.split.right h1:hover {
	color: #b48484;
}

section.split.right h3 {
    font-size: 60px;
    position: absolute;
    left: 124px;
    top: 265px;
    font-weight: lighter;
}

section.split.right h3:hover {
	color: #b48484;
}

section.split.right h4 {
    font-size: 30px;
    position: absolute;
    left: 218px;
    top: 330px;
    font-weight: lighter;
    color: #4d5d71;
}

section.split.right h4:hover {
	color: #b48484;
}

section.split.right nav ul li {
    font-family: 'Palanquin', sans-serif;
    font-size: 20px;
    list-style-type: none;
    text-align: right;
    margin: 10px 0;
    position: relative;
    top: 350px;
    right: 185px;
}

section.split.right nav ul li a {
	color: black;
}

section.split.right nav ul li a:hover {
	color: #b48484;
}



